@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Work Sans", sans-serif;
}

:root {
    --helper: #d69667;
    --helper-rgb: rgb(214, 150, 103, 0.8);
    --text: #ffffff;
    --bodyBack-one: #2b2b2b;
    --bodyBack-two: #232323;
    --btn: #6f3d2e;
    --btn-hover: #5a3427;
    --black: #00000000;
}

html,
body {
    font-size: 10px;
    background-color: var(--bodyBack-one);
    overflow-x: hidden;
    scroll-behavior: smooth;

}

h1 {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
    line-height: normal;
    letter-spacing: 1.2px;
    color: var(--text);
    cursor: default;

}

h2 {
    font-family: "Poppins", sans-serif;
    font-size: 3rem;
    line-height: normal;
    letter-spacing: 3px;
    color: var(--helper);
    cursor: default;

}

h3 {
    font-family: "Poppins", sans-serif;
    font-size: 2.5rem;
    line-height: normal;
    letter-spacing: 3px;
    color: var(--text);
    cursor: default;
}

h4 {
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    line-height: 2.1rem;
    letter-spacing: 0.33rem;
    color: var(--helper);
    cursor: default;

}

p {
    font-size: 1.7rem;
    line-height: 3rem;
    letter-spacing: 0.1rem;
    color: var(--text);
    opacity: 0.9;
    cursor: auto;

}

a {
    font-size: 2rem;
    color: var(--text);
    text-decoration: none;
}

span {
    font-family: "Poppins", sans-serif;
    color: var(--helper);
}

.text {
    color: rgb(255, 255, 255, 0.8);
}

.text-2 {
    color: var(--helper);
}

.btn {
    display: inline-block;
    width: 18rem;
    height: 5rem;
    font-size: 2rem;
    border-radius: 1rem;
    border: 2px solid var(--helper);
    background: transparent;
    color: #fff;
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: none;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: var(--helper);
        transition: all .3s;
        z-index: -1;
    }

    &:hover {
        color: black;

        &:before {
            width: 100%;
        }
    }
}

.cursur {
    background-color: var(--helper);
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    position: fixed;
    transform: translate(-50%, -50%);
    mix-blend-mode: difference;

}

/* <!-- <------- NavBar Section Start -------> */

#nav {
    position: relative;
    width: 100%;
    transform: translate(0%, 0%);
    display: flex;
    justify-content: space-between;
    z-index: 999;
}

.sticky #nav {
    z-index: 999;
    position: fixed;
    background-color: rgb(0, 0, 0, 0.5);

}

#right {
    margin-left: 15rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    z-index: -2;
    cursor: pointer;
}

.left {
    margin-right: 15rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

#nav #right span {
    font-family: "Poppins", sans-serif;
    font-size: 4rem;
}

#nav ul {
    display: flex;
    gap: 2rem;
    transform: translate(0%, 50%);
}

li {
    list-style: none;
}

li a:hover {
    transition: 0.2s all linear;
    color: var(--helper);
}



.mobile-nav-btn {
    z-index: 999;
    display: none;
}

.hambar,
.hambar-cross {
    z-index: 999;
    display: none;
    z-index: 999;
}

/* <!-- <------- NavBar Section End -------> */
/* <!-- <------- Hero Section Start -------> */
.hero-section {
    width: 100%;
    height: 86vh;
    background-color: var(--bodyBack-one);
}

#workingarea {
    display: flex;
    justify-content: space-between;
    width: 85%;
    height: 100%;
    margin: 0 auto;
    /* border: 2px solid red; */
}

#working-left {
    width: 50%;
    margin-top: 10rem;
    margin-left: 3.3rem;
}

#working-right {
    width: 45%;
    height: 100%;
    background-image: url(./hero-main.png), url(./Untitled_design__2_-removebg-preview.png);
    background-size: 80rem;
    margin-top: -3rem;
    background-repeat: no-repeat;
    background-position: center;
}

#elem-1 {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
}

#elem-2 {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

}

#elem-3 {
    margin-bottom: 3rem;
}

#hero-btn {
    pointer-events: all;
    cursor: pointer;
}

/* <!-- <------- Hero Section End -------> */

/* <!-- <------- About Section start ------->*/
#about {
    width: 100%;
    height: 80%;
    background-color: var(--bodyBack-two);
}

#about-work {
    /* border: 2px solid red; */
    display: flex;
    width: 80%;
    height: 80%;
    margin: 0 auto;
    padding: 3rem 0;
}

.about-left {
    width: 30%;
}

#about-img {
    width: 100%;
    height: 40rem;
    margin: 2rem auto;
}

#about-right {
    width: 70%;
    height: 90%;
    /* text-align: center; */
    margin: auto 3rem;
}

.about-heading {
    width: 15rem;
    height: 4rem;
    overflow: hidden;
}

.about-heading h4 {
    padding-top: 1.5rem;
    font-size: 1.8rem;
    transition: all ease 0.3s;
}

.about-heading:hover h4 {
    transform: translateY(-100%);
}

#about-inner {
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
    margin-top: 3rem;

}

/* <!-- <-------About Section End ------->  */
/* <!-- <-------Portfolio Section Start ------->*/
#portfolio {
    width: 100%;
    height: 100%;
    background-color: var(--bodyBack-one);
}

#portfolio-work {
    width: 80%;
    height: 100%;
    margin: auto;
}

#portfolio-top {
    width: 47rem;
    margin: auto;
    text-align: center;
    gap: 1rem;
    padding-top: 3rem;
}

.portfolio-heading {
    height: 7rem;
    overflow: hidden;
}

#portfolio-top h2 {
    transition: all ease 0.3s;
    font-size: 4rem;
}

.portfolio-heading:hover h2 {
    transform: translateY(-100%);
}

#cards-div {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 3rem;
}

#cards-div h3 {
    font-size: 3.5rem;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 25vw;
    height: 35rem;
    padding: 1rem 2rem;
    margin-top: 4rem;
    margin-bottom: 4rem;
    border-radius: 1.5rem;
    pointer-events: none;
}

.card p {
    font-size: 1.4rem;
}

#card-1 {
    background-image: url(./long.webp);
    background-position: center;
    background-size: cover;
    object-fit: contain;
    opacity: 0.8;
}

#card-2 {
    background-image: url(./short.webp);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    opacity: 0.8;

}

#card-3 {
    background-image: url(./podcast.webp);
    background-position: center;
    background-size: cover;
    object-fit: cover;
    opacity: 0.8;

}



/* <!-- <-------Portfolio Section End ------->  */

/* <!-- <-------Price Section start ------->*/
#price {
    width: 100%;
    height: 100%;
    background-color: var(--bodyBack-two);
}

#price-work {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

#price-work p {
    font-size: 1.5rem;
}

#price-work a {
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

#price-top {
    width: 60rem;
    height: 15rem;
    margin: 0 auto;
    text-align: center;
    overflow: hidden;
}

#price-top:hover h2 {
    transform: translateY(-100%);
}

#price-top h2 {
    padding-top: 3rem;
    transition: all linear 0.3s;
    font-size: 4.2rem;
}

#price-bottom {
    display: flex;
    justify-content: space-between;
}

.price-div {
    border: 2px solid var(--helper);
    width: 32%;
    height: 100%;
    border-radius: 2rem;
    padding: 1.5rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    box-shadow: 3px 3px 2px var(--btn);
}

.price-div {
    border: 2px solid var(--helper);
    width: 32%;
    height: 100%;
    border-radius: 2rem;
    padding: 1.5rem;
    margin-top: 6rem;
    margin-bottom: 6rem;
    box-shadow: 3px 3px 2px var(--helper);
    color: #fff;
    /* text-transform: uppercase; */
    transition: all .3s;
    position: relative;
    overflow: hidden;
    z-index: 1;

    &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: none;
        z-index: -2;
    }

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: var(--helper-rgb);
        transition: all .3s;
        z-index: -1;
    }

    &:hover {
        color: black;
        border: 2px solid var(--black);
        box-shadow: 3px 3px 2px var(--black);

        &:before {
            width: 100%;
        }
    }
}

.price-div:hover p,
.price-div:hover h3,
.price-div:hover h4,
.price-div:hover img,
.price-div:hover button {
    color: black;
    fill: black;
}

.price-div:hover p {
    font-weight: 900;
}

.price-inner-heading {
    width: 23rem;
    height: 4rem;
    overflow: hidden;
}

.price-inner-heading:hover h3 {
    transform: translateY(-100%);
}

.price-inner-heading h3 {
    transition: all linear 0.3s;
}


.price-btn {
    width: 15rem;
    height: 4rem;
    font-size: 1.8rem;
    margin-right: 2rem;
}

.icon {
    width: 3rem;
    fill: var(--helper);
}

#price-req-div {
    margin-top: 3rem;

}

.price-bottom-inner {
    margin-top: 1.5rem;
    display: flex;
    gap: 1rem;
}

.price-bottom-inner img {
    height: 3rem;
    z-index: 999;
}

/* <!-- <-------Price Section End ------->  */
/* <!-- <-------FAQS Section start -------> */
#faqs {
    width: 100%;
    height: 100%;
    background-color: var(--bodyBack-one);
}

#faqs-work {
    width: 70%;
    height: 100%;
    margin: 2rem auto;
    padding-bottom: 5rem;
}

#faqs-work p {
    font-size: 1.8rem;
}

#faqs-top {
    width: 16rem;
    height: 8rem;
    margin: 0 auto;
    overflow: hidden;
}

#faqs-top:hover h2 {
    transform: translateY(-100%);
}

#faqs-work h2 {
    font-size: 4rem;
    padding: 2rem;
    text-align: center;
    transition: all linear 0.3s;
}

#faqs-bottom {
    margin-top: 3rem;
}



.faqs-bottom-div {
    border-bottom: 2px solid var(--helper);
    margin-bottom: 4rem;
}

.acc {
    background-color: transparent;
    width: 100%;
    border: none;
}

.faqs-bottom-inner-1 {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.faqs-bottom-inner-2 {
    display: none;
}

.faqs-active .faqs-bottom-inner-2 {
    display: block;
}

/* <!-- <-------FAQS Section End -------> */

/* <!-- <-------Clients Reviews Section End -------> */
#client-review {
    width: 100%;
    height: 100%;
    background-color: var(--bodyBack-two);

}

#clients-swiper {
    display: flex;
    flex-direction: column;
    width: 90%;
    height: 70rem;
    margin: auto;
}

#clients-swiper-top {
    font-size: 4rem;
    width: 45rem;
    margin: 0 auto;
    text-align: center;


}

.client-heading {
    height: 10rem;
    overflow: hidden;
}

.client-heading:hover h2 {
    transform: translateY(-100%);

}

#clients-swiper-top h2 {
    padding-top: 3rem;
    font-size: 4rem;
    transition: all linear 0.3s;
}

.swiper {
    width: 90%;
    height: 60%;
    margin: 0 auto;
    margin-top: 3rem;
}

.swiper-slide {
    width: 100%;
    text-align: center;
    font-size: 18px;
    background-color: var(--bodyBack-one);
}

.swiper-slide-inner {
    height: 100%;
}

.double-comma {
    /* height: 10rem; */
    float: right;
    bottom: 0;
    margin-top: 1rem;
    margin-right: 5rem;
    rotate: 25deg;
    opacity: 0.7;
}

.swiper-slide-1 {
    display: flex;
    width: 90%;
    margin: 1.5rem auto;
    height: 10rem;
    gap: 2rem;
}

.swiper-slide-1-inner {
    margin-top: 1.5rem;
}

.swiper-slide-1 h4 {
    font-size: 1.7rem;
}

.swiper-slide-1 p {
    font-size: 1.5rem;
    opacity: 0.8;
}

.swiper-slide-1 img {
    width: 10rem;
    height: 8rem;
    border-radius: 100%;
    margin-left: 2rem;
    /* border: 2px solid red; */
}

/* <!-- <-------Clients Reviews Section end -------> */
/* <!-- <-------Contact Section start -------> */

#contact {
    width: 100%;
    height: 100%;
    background-color: var(--bodyBack-one);
}

#contact-div {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.contact-heading {
    width: 30rem;
    height: 6rem;
    margin: 2rem auto;
    text-align: center;
    overflow: hidden;
}

.contact-heading h2 {
    font-size: 4rem;
    overflow: hidden;
    transition: all linear 0.3s;
}

.contact-heading:hover h2 {
    transform: translateY(-100%);
}

#contact-bottom {
    width: 70%;
    height: 100%;
    margin: 0 auto;
    margin-bottom: 8rem;
    padding-top: 2rem;

}

#contact-bottom input,
textarea {
    background-color: transparent;
    border-color: var(--helper);
    font-size: 1.8rem;
    padding: 1rem;
    color: var(--text);
}

#input-name,
#input-email {
    width: 25.5vw;
    height: 5rem;
    border-radius: 0.7rem;
    margin-bottom: 2rem;
    margin-right: 2vw;
}

#input-subject {
    width: 53vw;
    height: 5rem;
    border-radius: 0.7rem;
    margin-bottom: 2rem;
}

#textarea {
    width: 96%;
    border-radius: 0.7rem;

}

#contact-btn {
    width: 20rem;
    height: 5rem;
    float: right;
    margin-top: 2rem;
    margin-right: 2.5rem;
    margin-bottom: 5rem;
}

/* <!-- <-------Contact Reviews Section end -------> */
/* <!-- <-------Footer Section end -------> */
#footer {
    width: 100%;
    height: 100%;
    background-color: var(--bodyBack-two);
}

#footer-div {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 95%;
    height: 100%;
    margin: 0 auto;
    padding-top: 5rem;

}

.footer-about-heading {
    width: 8rem;
    height: 4rem;
    overflow: hidden;

}

.footer-about-heading:hover h2 {
    transform: translateY(-100%);

}

.footer-service-heading {
    width: 10rem;
    height: 4rem;
    overflow: hidden;

}

.footer-service-heading:hover h2 {
    transform: translateY(-100%);

}

.footer-subs-heading {
    width: 30rem;
    height: 4rem;
    overflow: hidden;
}

.footer-subs-heading:hover h2 {
    transform: translateY(-100%);

}

.footer-link-heading {
    width: 8rem;
    height: 4rem;
    overflow: hidden;
}

.footer-link-heading:hover h2 {
    transform: translateY(-100%);

}

#footer-div-parent hr {
    border-color: var(--helper)
}

#footer-about {
    width: 30%;
    height: 100%;
    /* margin: auto 0; */
}

#footer-about-inner {
    display: none;
}

#footer-links {
    width: 15%;
    height: 100%;
    /* margin: auto 0; */
}

#footer-service {
    width: 15%;
    height: 100%;
    /* margin: auto 0; */
}

#footer-subs {
    width: 30%;
    height: 100%;
    margin: auto 0;
}

.footer-div-inner h2 {
    font-size: 2.2rem;
    /* margin-bottom: 1rem; */
    transition: all linear 0.3s;
}

.footer-div-inner p {
    margin-top: 1rem;
    font-size: 1.5rem;
}

.footer-div-inner li {
    padding-top: 0.5rem;
    margin-top: 1rem;
}

.footer-div-inner a {
    padding-top: 0.5rem;
    opacity: 0.8;
    font-size: 2rem;
}

#footer-subs a {
    font-size: 1.7rem;
    margin-left: 1rem;
    text-decoration: underline;

}

#footer-subs-inner-1 {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    gap: 0.5rem;
}

#footer-subs-inner-1 {
    padding-top: 1rem;
}

#footer-subs-inner-1 input {
    width: 100%;
    height: 5rem;
    padding: 0.5rem 1rem;
    font-size: 1.5rem;
    color: var(--text);
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--helper);
}

#footer-subs-inner-1 input:focus {
    border: none;
}

#footer-btn {
    width: 100%;
    height: 5rem;
    margin-bottom: 2rem;
    text-align: center;
}

#footer-bottom {
    padding: 0.5rem;
    text-align: center;
}

/* <!-- <-------Footer  Section end -------> */